@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="text-center mt-5">
        <h1>BIENVENIDOS AL PROYECTO FENIPO</h1>
        <p class="lead">El conocer de competiciones nunca fue tan facil<br /></p>

        <p>
            Aprenda todo sobre competencias, mire los mejores records de gimnasio<br />
            y conozca a los atletas involucrados
        </p>
        <img src="~/Content2/gym1.jpg" alt="Paris">
    </div>
</div>

